@model Sinfos.Core.Domain.Agenda

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<body class="c-app flex-row align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-body p-4">
                    <h1>Detalles</h1>
                    <p class="text-muted">Detalles del agendamiento</p>
                    <div>
                        <h4>Agenda</h4>
                        <hr />
                        <dl class="row">
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Fecha)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Fecha)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Hora_inicio)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Hora_inicio)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.Hallazgo)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.Hallazgo)
                            </dd>
                            <dt class="col-sm-6">
                                @Html.DisplayNameFor(model => model.User)
                            </dt>
                            <dd class="col-sm-6">
                                @Html.DisplayFor(model => model.User.Id)
                            </dd>
                        </dl>
                        <div>
                            <a class="btn btn-success btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
                            <a class="btn btn-secondary btn-sm" asp-action="Index">Volver a la lista</a>
                        </div>
                    </div>
                </div>
            </div>      



        </div>

            </div>


            
</body>
    
